.p {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  /* border: 2px solid #59b256; */
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px;
  overflow: hidden;
}

.p-browser {
  height: 30px;
  background-color: rgb(243, 242, 242);
  display: flex;
  align-items: center;
}
.p-circle:first-child {
  margin-left: 10px;
}

.p-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 4px;
  border: 1px solid #777;
}

.p-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  /* border-radius: 10px; */
}
.p-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-data {
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #59b256; */
  /* background: rgb(243, 242, 242); */
  background: #888;
  opacity: 0.9;
  /* border-radius: 10px; */
  transition: 0.2s;
  z-index: 1;
}

.p-link {
  display: inline-flex;
  font-size: 1.5rem;
  background-color: cornflowerblue;
  color: #fffafa;
  padding: 0.25rem;
  border-radius: 10px;
  margin-bottom: 10px;
  /* margin-top: 150px; */
  cursor: pointer;
  opacity: 3;
  z-index: 5;
}

.p-gitup {
  cursor: pointer;
  color: #fffafa;
  font-size: 20px;
  /* margin-bottom: 150px; */
}

.p-container:hover .p-data {
  top: 0;
}
/* .p-container:hover img {
  opacity: 0.7;
} */

/* .p-container:hover .p-data-up {
  top: 0;
}
.p-container:hover .p-data-down {
  bottom: 0;
} */

/* .p {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px;
  overflow: hidden;
}

.p:hover .p-browser {
  display: block;
  transition: all 0.5s ease;
}

 */
