.p {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  /* border: 2px solid #59b256; */
  /* border: 2px solid rgb(243, 242, 242);
  border: 2px solid rgb(200, 200, 200); */
  border: 2px solid rgb(224, 224, 224);
  border-radius: 10px;
  overflow: hidden;
}

.p-browser {
  height: 30px;
  /* background-color: rgb(243, 242, 242); */
  background-color: rgb(224, 224, 224);
  /* background-color: rgb(200, 200, 200); */
  display: flex;
  align-items: center;
}

.p-circle {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin: 3px;
  /* border: 1px solid #999; */
  border: 1px solid rgb(200, 200, 200);
  background-color: rgb(243, 242, 242);
}

.p-circle:first-child {
  margin-left: 10px;
}
.p-browser:hover .pc-1 {
  background-color: red;
}
.p-browser:hover .pc-2 {
  background-color: gold;
}
.p-browser:hover .pc-3 {
  background-color: #59b256;
}

.p-container {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.p-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-data {
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #59b256; */
  /* background: rgb(243, 242, 242); */
  background: #888;
  opacity: 0.95;
  transition: 0.2s;
}
.p-title {
  text-transform: capitalize;
  color: #fffafa;
  font-weight: 500;
  margin-bottom: 5px;
  padding: 5px;
}
.p-category {
  text-transform: uppercase;
  /* color: #fffafa; */
  color: #59b256;
  font-weight: 400;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 5px;
}
.p-link {
  display: inline-flex;
  color: #fffafa;
  margin-bottom: 25px;
  cursor: pointer;
}

.p-github {
  cursor: pointer;
  color: #fffafa;
  margin-bottom: 30px;
}

.FontAwesomeIcon:hover {
  color: #59b256;
}

.p-container:hover .p-data {
  top: 0;
}

@media screen and (max-width: 480px) {
  .p {
    width: 45%;
    height: 25vh;
    margin: 10px 5px;
  }
  .p-browser {
    height: 15px;
  }

  .p-circle {
    width: 5px;
    height: 5px;
    margin: 2px;
  }
  .p-circle:first-child {
    margin-left: 5px;
  }
  .p-title {
    margin-bottom: 0px;
    padding: 2px;
    font-size: 16px;
    line-height: 1.1; /* satir yuksekligi */
  }
  .p-category {
    margin-bottom: 0px;
    padding: 2px;
    font-size: 12px;
    margin-bottom: 5px;
  }
  .p-link,
  .p-github {
    margin-bottom: 5px;
  }
  .FontAwesomeIcon {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 480px) {
  .p {
    width: 100%;
    margin: 10px 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .p {
    width: 45%;
    margin: 10px 5px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p {
    width: 45%;
    margin: 10px 5px;
  }
}
